*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
    margin-left: 5px;
}

#main{
    height: 100%;
    width: 100%;
}

#intro{
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    padding: 40px 60px;
}

#intro h1{
    font-size: 130px;
    letter-spacing: -3px;
    line-height: 110px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#place h3, #place h4{
    font-size: 25px;
    font-weight: 600;
}

#hero-image{
    width: 100%;
    height: 87%;
    /* background-color: orange; */
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp");
    background-size: cover;
    margin-top: 40px;
}

#about{
    height: 85%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

#about h2{
    /* background-color: red; */
    width: 60%;
    font-size: 85px;
    line-height: 83px;
    font-weight: 600;
    letter-spacing: -2px;
    color: rgb(37, 36, 36);
}

#about-part2{
    width: 35%;
    height: 100%;
    padding: 0 60px;
    /* background-color: blue; */
    border-left: 2px solid rgb(50, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 33px;
    font-weight: 600;
    color: #1b1a1a;
}

/* #icons{
    background-color: red;
} */

#icons i{
    background-color: #1b1a1a;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    padding: 7px;
    border-radius: 50px;
    margin-right: 10px;
}

#work{
    height: 80%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 50px 60px;
}

#work1{
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    border-right: 2px solid black;
}

#work1 h3{
    font-size: 33px;
    font-weight: 600;
}

#work1 i{
    font-size: 35px;
}

#work2{
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0 60px;
}

.work2-part{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
    padding-top: 0;
    /* background-color: blue; */
}

.work2-part .element{
    width: 50%;
    height: 100%;
}


.work2-part .element:nth-child(1){
    border-right: 2px solid #000;
    padding-right: 50px;
}


.work2-part .element:nth-child(2){
    padding-left: 50px;
}

.work2-part .element h4{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.work2-part .element p{
    font-size: 18px;
    font-weight: 500;
    color: #383737;
}